(defparameter *color-base00* "#{{base00-hex}}")
(defparameter *color-base01* "#{{base01-hex}}")
(defparameter *color-base02* "#{{base02-hex}}")
(defparameter *color-base03* "#{{base03-hex}}")
(defparameter *color-base04* "#{{base04-hex}}")
(defparameter *color-base05* "#{{base05-hex}}")
(defparameter *color-base06* "#{{base06-hex}}")
(defparameter *color-base07* "#{{base07-hex}}")
(defparameter *color-base08* "#{{base08-hex}}")
(defparameter *color-base09* "#{{base09-hex}}")
(defparameter *color-base0A* "#{{base0A-hex}}")
(defparameter *color-base0B* "#{{base0B-hex}}")
(defparameter *color-base0C* "#{{base0C-hex}}")
(defparameter *color-base0D* "#{{base0D-hex}}")
(defparameter *color-base0E* "#{{base0E-hex}}")
(defparameter *color-base0F* "#{{base0F-hex}}")
